<div class="card">
    <div class="alert alert-info" role="alert">
        Inte du? <a href="#" onClick="onChangeUser();">Logga in med annat Arbetsförmedlingen konto</a>
    </div>

    <div class="card-header">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#personalData">Personuppgifter</button>
    </div>

    <div id="personalData" class="p-2">
        <div class="card">
            <form>
                <div class="col-sm-4 col-md-12 col-lg-6 p-2">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Name" value="<%= data.person.name.formattedName %>" disabled>
                </div>

                <div class="col-sm-4 col-md-12 col-lg-6 p-2">
                    <label for="email">Email</label>
                    <% data.person.communication.email.item.forEach((email) => { %>
                        <input type="email" name="email" class="form-control" value="<%= email.address %>" disabled>  <br>
                    <% }) %>
                </div>

                <div class="col-sm-4 col-md-12 col-lg-6 p-2">
                    <label for="phone">Phone</label>
                    <% data.person.communication.phone.item.forEach((phone) => { %>
                        <input name="phone" class="form-control" value="<%= phone.formattedNumber %>" disabled>  <br>
                    <% }) %>
                </div>
            </form>
        </div>
    </div>
    
    <div class="card-header">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#profileSelect">Välj CV profil</button>
    </div>
    <div id="profileSelect" class="list-group collapse show p-2">
        <% if (data.profiles && data.profiles.item && data.profiles.item.length) { %>
            <% for(var i=0; i<data.profiles.item.length; i++) {%>
                <div class="p-2">
                    <button class="btn btn-block btn-light" type="button" data-toggle="collapse" data-target="#profile_<%= i %>" onclick="selectedProfile = <%= i %>;"><%= data.profiles.item[i].profileName %></button>
                </div>
                <div id="profile_<%= i %>" class="collapse p-2" data-parent="#profileSelect">
                    <div class="card">
                        <div class="card-body">
                            <% if (data.profiles.item[i].employment && data.profiles.item[i].employment.item) { %>
                                <% data.profiles.item[i].employment.item.forEach((employment) => { %>
                                    <% if (employment.positionHistories && employment.positionHistories.item && employment.positionHistories.item.length) { %>
                                        <strong>Titel</strong><br>
                                        <% employment.positionHistories.item.forEach((position) => { %>
                                            <p><%= position.title %></p>
                                        <% }) %>
                                    <% } %>
                                    <% if (employment.organization) { %>
                                        <strong>Organisation</strong><br>
                                        <%= employment.organization.legalId.value %><br>
                                    <% } %>
                                    <% if (employment.descriptions) { %>
                                        <strong>Beskrivning</strong><br>
                                        <% employment.descriptions.item.forEach((description) => { %>
                                            <p><%= description %></p>
                                        <% }) %>
                                    <% } %>
                                    <% if (employment.start) { %>
                                        <strong>Period</strong><br>
                                        <%= employment.start %> - 

                                        <% if (employment.current) { %>
                                            Pågående
                                        <% } else if (employment.end) { %>
                                            <%= employment.end %>
                                        <% } %>
                                        <br>
                                    <% } %>
                                    <hr>
                                <% }) %>
                            <% } %>
                            
                            <% if (data.profiles.item[i].qualifications && data.profiles.item[i].qualifications.item && data.profiles.item[i].qualifications.item.length > 0) { %>
                                <strong>Kvalificationer</strong><br>
                                <ul>
                                    <% data.profiles.item[i].qualifications.item.forEach((qualification) => { %>
                                        <% if (qualification.competencyName) { %>
                                            <li><%= qualification.competencyName %></li>
                                        <% } %>
                                    <% }) %>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                </div>
            <% } %>
        <% } else { %>
            <div class="alert alert-info" role="alert">
                Du har ingen profil på Arbetsförmedlingen, <a href="https://www.arbetsformedlingen.se/For-arbetssokande/Mina-sidor/Mina-profiler/">klicka här för att skapa profil</a>
            </div>
        <% } %>
    </div>
</div>
