<div class="card">
    <div id="personalData" class="p-2">
        <div class="row">
            <div class="col-md-6">
                <div style="background-color: #f5f5f5; border-left: #00005a solid 8px; padding: 16px">
                    På denna sida finner du dina personuppgifter samt dina profiler som du har sparade hos Arbetsförmedlingen.<br>
                    <br>
                    Vänligen granska dina uppgifter innan du väljer att dela med dig av uppgifterna till tredje part.<br>
                    <br>
                    För att korrigera dina uppgifter <a href="https://www.arbetsformedlingen.se/For-arbetssokande/Mina-sidor/Mina-profiler/">Klicka här</a>.<br>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="margin-top: 24px; font-size: 16pt">Personuppgifter</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="name"><strong>Förnamn</strong></label>
                                <div><%= data.data[0].person.name.given %></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="name"><strong>Efternamn</strong></label>
                                <div><%= data.data[0].person.name.family %></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div style="margin-top: 24px; font-size: 16pt">Kontaktuppgifter</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="email"><strong>Email</strong></label>
                                        <% data.data[0].person.communication.email.forEach((email) => { %>
                                            <div><%= email.address %></div>
                                        <% }) %>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="phone"><strong>Telefon</strong></label>
                                        <% data.data[0].person.communication.phone.forEach((phone) => { %>
                                            <div><%= phone.formattedNumber %></div>
                                        <% }) %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <div style="margin-top: 24px; font-size: 16pt">Välj profil som du vill dela</div>
                <div style="padding: 16px">
                    <% if (data.data[0].profiles && data.data[0].profiles.length) { %>
                        <% for(var i=0; i<data.data[0].profiles.length; i++) {%>
                            <div>
                                <label>
                                        <input name="profileChoice" type="radio" type="button" data-toggle="collapse" data-target="#profile_<%= i %>" onclick="selectedProfile = <%= i %>;" /> <%= data.data[0].profiles[i].profileName %>    
                                </label>
                            </div>
                        <% } %>
                    <% } else { %>
                        <div>
                            Du har ingen profil på Arbetsförmedlingen<br>
                            <a href="https://www.arbetsformedlingen.se/For-arbetssokande/Mina-sidor/Mina-profiler/">Klicka här för att skapa profil</a>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-8">
                <div style="margin-top: 24px; font-size: 16pt">Vald profil</div>
                <div style="background-color: #f5f5f5; border-top: #00005a solid 8px; padding: 16px">
                    <div id="profileSelect" class="collapse show">
                        <div class="collapse show" data-parent="#profileSelect">Ingen profil vald</div>
                        <% for(var i=0; i<data.data[0].profiles.length; i++) {%>
                            <div id="profile_<%= i %>" class="collapse" data-parent="#profileSelect">
                                <% if (data.data[0].profiles[i].employment && data.data[0].profiles[i].employment) { %>
                                    <% data.data[0].profiles[i].employment.forEach((employment) => { %>
                                        <% if (employment.positionHistories && employment.positionHistories && employment.positionHistories.length) { %>
                                            <strong>Titel</strong><br>
                                            <% employment.positionHistories.forEach((position) => { %>
                                                <p><%= position.title %></p>
                                            <% }) %>
                                        <% } %>
                                        <% if (employment.organization) { %>
                                            <strong>Organisation</strong><br>
                                            <p><%= employment.organization.legalId.value %></p>
                                        <% } %>
                                        <% if (employment.descriptions) { %>
                                            <strong>Beskrivning</strong><br>
                                            <% employment.descriptions.forEach((description) => { %>
                                                <p><%= description %></p>
                                            <% }) %>
                                        <% } %>
                                        <% if (employment.start) { %>
                                            <strong>Period</strong><br>
                                            <%= employment.start %> - 

                                            <% if (employment.current) { %>
                                                Pågående
                                            <% } else if (employment.end) { %>
                                                <%= employment.end %>
                                            <% } %>
                                            <br>
                                        <% } %>
                                        <hr>
                                    <% }) %>
                                <% } %>
                                
                                <% if (data.data[0].profiles[i].qualifications && data.data[0].profiles[i].qualifications && data.data[0].profiles[i].qualifications.length > 0) { %>
                                    <strong>Kvalifikationer</strong><br>
                                    <ul>
                                        <% data.data[0].profiles[i].qualifications.forEach((qualification) => { %>
                                            <% if (qualification.competencyName) { %>
                                                <li><%= qualification.competencyName %></li>
                                            <% } %>
                                        <% }) %>
                                    </ul>
                                <% } %>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: 24px; font-size: 16pt">Tredje partens databehandlingsändamål</div>
                <ul style="margin-top: 16px">
                    <% data.sink.purposeOfUse.forEach((purpose) => { %>
                        <li><%= purpose %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div style="margin-top: 24px; font-size: 16pt">Dela och slutför</div>
                <div style="margin-top: 16px">Jag ger mitt uttryckliga medgivande att Arbetsförmedlingen får dela min valda profil med en tredje part.</div>
                
                <div style="margin-top: 16px">
                    <button style="background-color: #00005a; color: white; border: #00005a solid 1px; border-radius: 4px; padding-left: 12px; padding-right: 12px; padding-top: 6px; padding-bottom: 6px" onclick="onConsent();">
                        Jag samtycker och vill dela min profil
                    </button>
                    <button style="background-color: white; color: black; border: #00005a solid 1px; border-radius: 4px; padding-left: 12px; padding-right: 12px; padding-top: 6px; padding-bottom: 6px" onclick="onConsentRejection();">
                        Nej, dela inte min profil
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
