 <style>
        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        ::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0, 0, 0, .5);
            -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
        }

        html {
            overflow: -moz-scrollbars-vertical;
            overflow-y: scroll;
        }

    .sans {
        font-family: "Roboto", sans-serif
    }

    .check_box + label{
    	background:url(app/public/img/unchecked.png) no-repeat;
    	height: 73px;
    	width: 73px;
    	display:inline-block;
        padding: 0 0 0 0px;
    }

    .check_box:checked + label {
        background: url(app/public/img/checked.png) no-repeat;
        height: 73px;
        width:73px;
        display:inline-block;
        padding: 0 0 0 0px;
    }

    .fwd-button {
        background-color: rgb(0, 4, 86);
        border-color: white;
        border-radius: 10px;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        display: inline-block;
        width: 90%;
        font-size: 28px;
        cursor: pointer;
        margin: 0 0 10px 24px;
    }

    .back-button {
        background-color:  white;
        border-color: rgb(0, 4, 86);
        border-radius: 10px;
        color: rgb(0, 4, 86);
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 90%;
        font-size: 28px;
        margin: 4px 0px 4px 24px;
        cursor: pointer;
    }

    .hidden-button {
        background-color: transparent;
        color: transparent;
        border-color: transparent;
    }

    .radio-button {
        background-color: rgb(0, 4, 86);
        color: rgb(254, 255, 254);
        border: 0px;
        width: 250px;
        padding: 10px 10px;
        border-radius: 7px;
        text-align: left;
        font-size: 20px;
        display: inline-block;
        margin: 0 0 11px 13px;
        cursor: pointer;
    }

    ul {
      list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='-1 -1 2 2'><circle r='1' /></svg>");
    }

    .list {
        margin-left: -20px;
        font-size: 18px;
    }

    .par {
        font-size: 20px;
    }
    .inp {
        margin-right: 10px;
    }

    #lo:hover ~ .scrollable {
        -webkit-box-shadow: inset 5px 6px 17px -15px rgba(0,0,0,0.98);
        box-shadow: inset 5px 6px 17px -15px rgba(0,0,0,0.6);
        border: solid #BBBBBB 1px;
        border-radius: 10px;
        padding: 30px;
    }
    .name {
        margin: 20px 0px 10px 30px;
        font-size: 16pt;
    }
    .text-responsive {
        font-size: calc(100% + 1vw + 1vh);
    }

    .name-divider {
        width: 90%;
          margin-bottom: 10px;
          margin-top: 0px;
      }
    .scrollable {
        position: static;
        padding: 10px;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
        margin-left: 36px;
        height: 393px;
    }
    .container {
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
    }
    .text-responsive {
        font-size: calc(100% + 1vw + 1vh);
    }
    .text-smaller {
        font-size: calc(50% + 1vw + 1vh);
    }
    .sbs {  /* Centered side by side */
            display: flex;
            justify-content: center;
        }
    /*
    .solid {
        width:80%;text-align:left;margin-left:0;height:4px;color:slategray;border-radius: 2px;background-color:slategray;
    } */
    .hdr {
        position: relative;
        min-height: 340px;
        /* background: #005cbf; */
        margin-bottom: 10px;
    }
    .hdr3 {
        position: relative;
        min-height: 360px;
        /* background: #005cbf; */
        margin-bottom: 10px;
    }
    .rule {
        position: absolute;
        border-top: 4px solid rgb(0, 4, 86);
        border-radius: 2px;
        width: 80%;
        bottom:0;
        left: 0;
        margin:0;
        margin-left: 30px;
    }
</style>

<header id="page-1-header" style="display: none">
    <div class ="hdr">
        <img class="logo" src="/img/af-logo.svg" />

        <div>
            <div style="display: inline-block; margin: 0 24px; font-size: 20pt">Välj profil</div>

            <div style="display: inline-block; margin-left:10px; font-size: 10px">( Dual mode demo 1 )</div>

            <div style="display: inline-block"><!-- Terminal mode indicator -->
                <div class="d-block d-sm-none"> xs</div>
                <div class="d-none d-sm-block d-md-none"> sm</div>
                <div class="d-none d-md-block d-lg-none"> md</div>
                <div class="d-none d-lg-block d-xl-none"> lg</div>
                <div class="d-none d-xl-block"> xl</div>
            </div>
        </div>

        <div style="margin: 5px 0px 0px 24px; font-size: 14pt">
            <p>Välj den profil du tycker passar bäst<br>till jobbet du vill söka.&nbsp;Tryck sedan på 'Nästa' för att fortsätta.</p>
        </div>
        <div>
            <div style="margin: 0 0 0 5px;position: absolute; bottom: 0px;left: 0px;";>
                <div class="name"><%= data.transferObject.data[0].person.name.given %> <%= data.transferObject.data[0].person.name.family %></div>
            </div>
            <hr class="rule">
        </div>
    </div>
</header>

<header id="page-2-header" style="display: none">
    <div class="hdr">
        <img class="logo" src="/img/af-logo.svg" />

        <div style="margin: 0 24px; font-size: 20pt">Förhandsvisning av profil</div>
        <div style="margin: 5px 0px 0px 24px; font-size: 12pt">Gå till <a href="https://arbetsformedlingen.se/for-arbetssokande/mina-sidor/#/" target="_blank" onclick="window.open('','_parent',''); window.close(); return true;">Min Profil</a> på Arbetsförmedlingen</div>
        <div style="margin: 0 0 0 24px; font-size: 14pt">för att ändra din information (detta avslutar applikationen).</div>
        <div>
            <div style="margin: 0 0 0 5px;position: absolute; bottom: 0px;left: 0px;";>
                <div class="name"><%= data.transferObject.data[0].person.name.given %> <%= data.transferObject.data[0].person.name.family %></div>
            </div>
            <hr class="rule">
        </div>
    </div>
</header>

<header id="page-3-header" style="display: none">
    <div class="hdr">
        <img class="logo" src="/img/af-logo.svg" />
        <div style="margin: 0 24px; font-size: 20pt">Godkänn överföringen</div>
        <div style="max-height:400px">
            <div style="margin: 0px 0px 0px 24px; font-size: 14pt"><b><%= data.sink.sinkName %></b> får bara använda informationen i följande syfte: Ansökan till roll</div>
            <div>
                <div style="margin: 0px 0px 30px 24px; font-size: 15pt"><b><%= data.sink.jobTitle %></b> hos <b><%= data.sink.companyName %></b></div>
                <div>
                    <div style="margin: 0 0 0 5px;position: absolute; bottom: 0px;left: 0px;";>
                        <div class="name"><%= data.transferObject.data[0].person.name.given %> <%= data.transferObject.data[0].person.name.family %></div>
                    </div>
                    <hr class="rule">
                </div>
            </div>
        </div>
    </div>
</header>

<main role="main" id="main" class="flex-grow-1 overflow-auto">
    <div class="container">
        <div class="container" id="page-1">
                <% if (data.transferObject.data[0].profiles && data.transferObject.data[0].profiles.length) { %>
                    <% for(var i=0; i<data.transferObject.data[0].profiles.length; i++) {%>
                        <div class="p2">
                            <label style="white-space:nowrap">
                                <input
                                    name="profileChoice"
                                    id="<%= 'prof-'+(i) %>"
                                    type="radio"
                                    style="display:inline-block; size:120px; margin:2px"
                                    onclick="selectedProfile = '<%= i %>'; document.getElementById('prof-'+selectedProfile).checked = true; window.refreshFwdButton();"
                                    data-toggle="collapse"
                                    data-target="#profile_<%= i %>"
                                >
                                    <button
                                        id="<% 'bprof-'+(i) %>"
                                        class="radio-button"
                                        onclick="selectedProfile = '<%= i %>'; document.getElementById('prof-'+selectedProfile).checked = true; window.refreshFwdButton();" >
                                        <%= data.transferObject.data[0].profiles[i].profileName %>
                                    </button>
                                </input>
                            </label>
                        </div>
                    <% } %>
                <% } else { %>
                    <div>
                        Du har ingen profil på Arbetsförmedlingen<br>
                        <a href="https://www.arbetsformedlingen.se/For-arbetssokande/Mina-sidor/Mina-profiler/">Klicka här för att skapa profil</a>
                    </div>
                <% } %>
                <footer id="page-1-footer" class="d-xs-block d-lg-none py-2 container-fluid flex-grow-0 flex-shrink-1" style="background: white; display: none">
                    <button id="button-1" class="fwd-button" onclick="window.showPage(2);"> Nästa  </button>
                    <button id="page1-button-back" style="scroll-margin-bottom: 15px" class="back-button hidden-button" disabled>Tillbaka</button>
                </footer>
        </div>

        <div class="container" id="page-2" style="display:none; height:80%">
                <div id="profile-list"; style="font-size: 23px; margin-left: 14px; padding: 12px">
                    <% for(var i=0; i<data.transferObject.data[0].profiles.length; i++) {%>
                        <div id="profile_<%= i %>" data-parent="#profileSelect">
                            <% if (data.transferObject.data[0].profiles[i].employment && data.transferObject.data[0].profiles[i].employment) { %>
                                <% data.transferObject.data[0].profiles[i].employment.forEach((employment) => { %>
                                    <% if (employment.positionHistories && employment.positionHistories && employment.positionHistories.length) { %>
                                        <strong>Titel</strong><br>
                                        <% employment.positionHistories.forEach((position) => { %>
                                            <p><%= position.title %></p>
                                        <% }) %>
                                    <% } %>
                                    <% if (employment.organization) { %>
                                        <strong>Organisation</strong><br>
                                        <p><%= employment.organization.legalId.value %></p>
                                    <% } %>
                                    <% if (employment.descriptions) { %>
                                        <strong>Beskrivning</strong><br>
                                        <% employment.descriptions.forEach((description) => { %>
                                            <p><%= description %></p>
                                        <% }) %>
                                    <% } %>
                                    <% if (employment.start) { %>
                                        <strong>Period</strong><br>
                                        <%= employment.start %> -

                                        <% if (employment.current) { %>
                                            Pågående
                                        <% } else if (employment.end) { %>
                                            <%= employment.end %>
                                        <% } %>
                                        <br>
                                    <% } %>
                                    <hr>
                                <% }) %>
                            <% } %>
                        </div>
                    <% } %>
                </div>
                <footer id="page-2-footer" class="d-xs-block d-lg-none py-2 container-fluid flex-grow-0 flex-shrink-1" style="background: white; display: none">
                    <button id="button-2" class="fwd-button" onclick="window.showPage(3);">Nästa</button>
                    <button id="page2-button-back" style="scroll-margin-bottom: 15px" class="back-button" onclick="window.showPage(1);">Tillbaka</button>
                </footer>
        </div>

        <div id="page-3" style="display:none">
            <div style="margin-left: 10px; text-align: left;">
                <ul class="list" id="uli">
                    <li>Den här tjänsten gör det möjligt att skicka ditt valda CV
                        till <%= data.sink.sinkName %>.
                        Arbetsförmedlingen är personuppgiftsansvarig fram till
                        att uppgifterna skickas från tjänsten till <%= data.sink.sinkName %>.
                        Arbetsförmedlingen ansvarar inte för uppgifterna efter de
                        har levererats.
                    </li>
                    <li>Arbetsförmedlingen kommer att lagra all samtyckeinformation
                        som en del av deras processer, inklusive vilket jobb du har
                        ansökt om och när. Den loggade informationen betraktas som
                        av allmänt intresse och kan begäras ut till allmänheten på
                        begäran.
                    </li>
                    <li style="margin-top: 18px">
                        Klicka <a href="https://arbetsformedlingen.se/om-webbplatsen/juridisk-information/sa-hanterar-vi-dina-personuppgifter" target="_blank" rel="noopener noreferrer">här</a> för att lära dig mer om hur Arbetsförmedlingen behandlar dina uppgifter.
                    </li>
                    <li style="margin-top: 18px">
                        <%= data.sink.sinkName %> är skyldigt att använda dina uppgifter enligt EU:s allmänna dataskyddsförordning.
                    </li>
                    <li style="margin-top: 18px">
                        Efter att uppgifterna har levererats till <%= data.sink.sinkName %> kan Arbetsförmedlingen inte verifiera
                        <ul>
                            <li>hur eller var informationen kommer att lagras;</li>
                            <li>om din uppgifter kommer skickas till andra parter;</li>
                            <li>om uppgifterna kommer att användas för ett annat syfte än ett som anges ovan; eller</li>
                            <li>vem som kommer att kunna komma åt uppgifterna.</li>
                        </ul>
                    </li>

                    <li style="margin-top: 14px">
                        Om du känner att dina uppgifter missbrukas på något sätt, vänligen kontakta <a href="https://www.datainspektionen.se/" target="_blank" rel="noopener noreferrer">Datainspektionen</a>.
                    </li>
                </ul>

                <hr class="solid">

                <p class="par"><input class="inp" type="checkbox" id="transferAgreement"
                    onclick="window.transferAgreement();">Jag ger mitt medgivande till att Arbetsförmedlingen får hantera och överföra dessa uppgifter under ett tillfälle till <%= data.sink.sinkName %>.
                </p>

                <p class="par"><input class="inp" type="checkbox" id="secrecyAgreement"
                    onclick="window.secrecyAgreement();">Jag samtycker att denna process häver sekretessen för de uppgifter jag väljer att dela med <%= data.sink.sinkName %>.
                </p>

                <p class="par"><input class="inp" type="checkbox" id="reviewAgreement"
                    onclick="window.reviewAgreement();">Jag har granskat uppgifterna och bekräftar att inga oönskade uppgifter ingår i överföringen till <%= data.sink.sinkName %>.
                </p>

                <p class="par"><input class="inp" type="checkbox" id="termsAgreement"
                    onclick="window.reviewAgreement();">Jag har läst och förstår hur Arbetsförmedlingen behandlar mina personuppgifter.
                </p>
            </div>
            <footer id="page-3-footer" class="d-xs-block d-lg-none py-2 container-fluid flex-grow-0 flex-shrink-1" style="background: white; display: none">
                <button id="shareButton" class="fwd-button"  onclick="window.onConsent();" disabled>
                    Godkänn
                </button>
                <button id="page3-button-back" style="scroll-margin-bottom: 15px" class="back-button" onclick="window.showPage(2);window.clearBoxes();">Tillbaka</button>
            </footer>
        </div>
    </div>
</main>

<footer class="d-none d-lg-block py-2 container-fluid flex-grow-0 flex-shrink-1" style="background: white">
    <div id="footer-1b" style="display:none">
        <button id="button-1" class="fwd-button" onclick="window.showPage(2);"> Nästa  </button>
        <button class="back-button hidden-button" disabled>Tillbaka</button>
    </div>
    <div id="footer-2b" style="display:none">
        <button id="button-2" class="fwd-button" onclick="window.showPage(3);"> Nästa  </button>
        <button class="back-button" onclick="window.showPage(1);">Tillbaka</button>
    </div>
    <div id="footer-3b" style="display:none">
        <button id="shareButton2" class="fwd-button" style="padding: 11px 100px;" onclick="window.onConsent();" disabled>
            Godkänn
        </button>
        <button class="back-button" onclick="window.showPage(2);window.clearBoxes();">Tillbaka</button>
    </div>
</footer>

<script>
    window.afConnectInit();
</script>